<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <%= render partial: "shared/second-header"%>
  <%= render partial: "form"%>
  <%= render partial: "shared/second-footer"%>
</div>